services:
  keycloak:
    #image: mihaibob/keycloak:15.0.1 # for arm64
    image: jboss/keycloak:15.0.2
    container_name: keycloak
    ports:
      - 9000:8080
    environment:
      - KEYCLOAK_USER=admin
      - KEYCLOAK_PASSWORD=admin
      - KEYCLOAK_IMPORT=/tmp/import/demo-realm.json
        # https://www.keycloak.org/docs/latest/server_installation/#default-provider
      - JAVA_OPTS_APPEND=-Dkeycloak.frontendUrl=http://localhost:9000/auth/
    volumes:
      - ./keycloak/realms/demo-realm.json:/tmp/import/demo-realm.json

  backend:
    container_name: backend
    depends_on:
      - keycloak
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - 8081:8080

  frontend:
    container_name: frontend
    depends_on:
      - keycloak
      - backend
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - 8080:8080
