services:
  keycloak:
    image: quay.io/keycloak/keycloak:26.5.0
    container_name: keycloak
    ports:
      - "127.0.0.1:9000:8080"
    environment:
      # Keycloak configuration https://www.keycloak.org/server/all-config
      - KC_BOOTSTRAP_ADMIN_USERNAME=admin
      - KC_BOOTSTRAP_ADMIN_PASSWORD=admin
      - KC_HTTP_RELATIVE_PATH=/auth             # Maintains /auth path for backward compatibility
      - KC_HOSTNAME_DEBUG=true                  # Expose endpoint /realms/demo/hostname-debug
      - KC_HOSTNAME=http://localhost:9000/auth/ # Browser-facing URL
      - KC_HOSTNAME_BACKCHANNEL_DYNAMIC=true    # Allow backend(docker network) to use its own hostname
    command:
      - start-dev
      - --import-realm
    volumes:
      - ./keycloak/realms/demo-realm.json:/opt/keycloak/data/import/demo-realm.json
      - keycloak_data:/opt/keycloak/data

  backend:
    container_name: backend
    depends_on:
      - keycloak
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - 8081:8080

  frontend:
    container_name: frontend
    depends_on:
      - keycloak
      - backend
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - 8080:8080

volumes:
  keycloak_data:
