<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Tickets page</title>
</head>
<body>
  <h1>Tickets:</h1>
  <div>
    <a href="/"><-- Back to Home></a><br>
  </div>

  <div sec:authorize="hasRole('app-admin')">
    <h2>As Admin You can see all tickets</h2>
  </div>
  <div sec:authorize="hasRole('app-user')">
    <h2>As User you can see only tickets that belongs to you</h2>
  </div>
  <div th:each="ticket : ${tickets}">
    <p><span th:text="${ticket.arrival}"></span>-><span th:text="${ticket.departure}"></span></p>
  </div>
</body>
</html>