name: CI

on:
  push:
    branches:
    - 'main'
  pull_request:
    branches:
    - 'main'

jobs:
  docker-compose:
    timeout-minutes: 10
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Start containers
      run: docker compose -f "docker-compose.yml" up -d --build

    - name: Stop containers
      if: always()
      run: docker compose -f "docker-compose.yml" down
